@import url("../fonts/fonts.css");

:root {
	--clr-white: #fff;
	--clr-black: #000;
	--clr-gray: #B7B7B7;
	--clr-btn: #DB2512;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: inherit;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	font-size: inherit;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Poppins";
	font-size: 15px;
	font-weight: 400;
	height: 2000px;
	background: #E5E5E5;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	background-color: rgba(0, 0, 0, 0.547);
}

.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
}

.header__block {
	width: 20%;
}

.nav {
	display: flex; /*убрали пробелы в флекс контейнере*/
}

.nav__link {
	position: relative;
	margin-right: 35px;
	font-weight: 600;
	color: var(--clr-white);
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1.5em;
	border-bottom: 2px solid transparent;
	transition: 0.4s;
}

.nav__link:last-child {
	margin-right: 0;
}

.nav__link::after {
	position: absolute;
	display: block;
	width: 0;
	height: 2px;
	content: "";
	background-color: var(--clr-white);
	transition: 0.5s;
}

.nav__link:hover::after {
	width: 100%;
}

.nav__link.active {
	border-bottom: 2px solid var(--clr-white);
}


.header__language {
	display: flex;
	justify-content: flex-end;
}

.header__language-link {
	margin-right: 8px;
	font-weight: 600;
	color: var(--clr-gray);
	text-decoration: none;
	text-transform: uppercase;
	line-height: 1.5em;
	transition: 0.3s;
}

.header__language-link:last-child {
	margin-right: 0;
}

.header__language-link.active {
	color: var(--clr-white);
	cursor: default;
}

/* /end header-wrapper */