@import url('../fonts/fonts.css');

:root {
	--clr-white: #fff;
	--clr-black: #000;
	--clr-gray: #B7B7B7;
	--clr-btn: #DB2512;
	--clr-btn-hover: #af2b1c;
	--clr-overlay: rgba(0, 0, 0, 0.2);
}

*,
*:before,
*:after {
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: inherit;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	font-size: inherit;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins';
	font-size: 15px;
	font-weight: 400;
	height: 2000px;
	background: #E5E5E5;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-width: 200px;
	min-height: 50px;
	padding: 0 15px;
	color: var(--clr-white);
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	background-color: var(--clr-btn);
	transition: background-color 0.2s ease;
}

.btn:hover {
	background-color: var(--clr-btn-hover);
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
}

/* start header-wrapper */
.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
}

.header__block {
	width: 20%;
}

.header__logo {
	display: inline-block;
}

.header__logo img {
	height: 65px;
}
/* start nav */
.nav {
	display: flex;
}

.nav__link {
	position: relative;
	margin-right: 35px;
	font-weight: 600;
	color: var(--clr-white);
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1.5em;
	border-bottom: 2px solid transparent;
	transition: 0.4s;
}

.nav__link:last-child {
	margin-right: 0;
}

.nav__link::after {
	position: absolute;
	display: block;
	width: 0;
	height: 2px;
	content: '';
	background-color: var(--clr-white);
	transition: 0.5s;
}

.nav__link:hover::after {
	width: 100%;
}

.nav__link.active {
	border-bottom: 2px solid var(--clr-white);
}
/* /end nav */

/* start language */
.header__language {
	display: flex;
	justify-content: flex-end;
}

.header__language-link {
	margin-right: 8px;
	font-weight: 600;
	color: var(--clr-gray);
	text-decoration: none;
	text-transform: uppercase;
	line-height: 1.5em;
	transition: 0.3s;
}

.header__language-link:last-child {
	margin-right: 0;
}

.header__language-link.active {
	color: var(--clr-white);
	cursor: default;
}
/* /end language */

/* /end header-wrapper */

/* start intro */
.intro {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.intro::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--clr-overlay);
}

.intro__content {
	position: relative;
	z-index: 2;
	display: flex;
	align-items: center;
	height: 750px;
}

.intro__block {

}

.intro__title {
	max-width: 790px;
	margin-bottom: 30px;
	font-weight: 700;
	font-size: 48px;
	color: var(--clr-white);
	line-height: 1.5em;
}
/* /end intro */

.section {
	margin-bottom: 100px;
}

/* /start info */
.info {
	transform: translateY(-50%);
}

.info__item {
	padding: 40px;
	background-color: var(--clr-white);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.info__img {
	margin-bottom: 20px;
}

.info__title {
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.15em;
	line-height: 1.5em;
}

.info__text {
	color: var(--clr-gray);
	font-size: 18px;
}
/* /end info */

/* /start block */
.wrapper {
	display: flex;
	margin: 0 -10px;
}

.block {
	width: 33.33%;
	padding: 0 10px;
}

.block__title {
	margin-bottom: 15px;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 0.15em;
	line-height: 1.5em;
	color: var(--clr-black);
}

.block__link {
	display: inline-block;
	margin-bottom: 60px;
	letter-spacing: 0.15em;
	color: var(--clr-black);
}

.block__link:hover {
	text-decoration: none;
}
/* /end block */

/* /start services */


/* /start HOVER item */
.services__item:hover .services__img {
	opacity: 1;
	transform: scale(1);
}
.services__item:hover .services__text {
	transform: translateX(0);
}
.services__item:hover .services__content::after {
	opacity: 1;
}
/* /end HOVER item */


.services__content {
	position: relative;
	height: 500px;
	margin-bottom: 20px;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.services__content::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0;
	transition: all 0.3s ease;
}

.services__img {
	position: absolute;
	top: calc(50% - 100px / 2);
	left: calc(50% - 100px / 2);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	background-color: var(--clr-btn);
	border-radius: 50%;
	z-index: 2;
	opacity: 0;
	transition: all 0.2s linear;
	transform: scale(0.3)
}

.services__text {
	position: absolute;
	left: 30px;
	bottom: 30px;
	font-size: 18px;
	max-width: 270px;
	font-weight: 600;
	color: var(--clr-white);
	letter-spacing: 0.23em;
	line-height: 1.5em;
	z-index: 3;
	transition: all 0.2s linear;
	transform: translateX(-400px);
}

.services__title {
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 0.23em;
}

/* /end services */

/* /start about */
.about {
	padding: 117px 0;
	background-color: #171616;
}

.about__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about__block {
	max-width: 505px;
}

.about__text {
	margin: 35px 0 40px;
	font-weight: 600;
	color: var(--clr-gray);
	letter-spacing: 0.23em;
}

.about__link {
	font-weight: 500;
	font-size: 18px;
	color: var(--clr-white);
	text-transform: uppercase;
	letter-spacing: 0.15em;
}

.about__link:hover {
	text-decoration: none;
}

.about__img {
	height: 340px;
}
.text-white {
	color: var(--clr-white);
}

/* /end about */
